// Define variables for your color scheme

// For example:
$red: #9B1D20;
$blue: #586BA4;
$yellow: #FFDB81;
$flashy_yellow: #fbca1f;
$orange: #F9A620;
$green: #6A994E;
$gray: #1E152A;
$light-gray: #F6F4F0;
