<body>
  <div class="landing-container">
    <div class="overlay"></div>
    <div class="content">
      <h1>Rhythm & Recipes</h1>
      <h3>Tailored recipes and soundtracks — just tell us what you're craving.</h3>
      <div>
        <a href="<%= new_user_session_path %>" class="button-home me-5">Log In</a>
        <a href="<%= new_user_registration_path %>" class="button-home ms-5">Sign Up</a>
      </div>
    </div>
  </div>
