<body>
  <div class="landing-container">
    <div class="overlay"></div>
    <div class="content">
      <h1>Feed Your Mood. Fuel Your Groove.</h1>
      <h3>Tailored recipes and soundtracks — just tell us what you're craving.</h3>
      <div>
        <a href="<%= new_user_registration_path %>" class="buttons">Sign Up</a>
        <a href="<%= new_user_session_path %>" class="buttons secondary">Log In</a>
      </div>
    </div>
  </div>
