<div class="container full-height pt-0">
<h2 class="text-center" style="margin-bottom: 69px;">
  Which <%= @format == "album" ? "playlist" : "album" %> would you like to select?
</h2>  <turbo-frame id="music_suggestions">
    <%= render partial: "music_cards", locals: { suggestions: @suggestions } %>
  </turbo-frame>

  <div class="text-center mt-5">
    <%= button_to "Shuffle selection", music_suggestions_matches_path, method: :get, class: "button" %>
  </div>
</div>
