<div class="container">
  <h2 class="text-center text-white mb-4">Which recipe would you like to select?</h2>
  <div class="card-container">
    <% if @music_suggestions.present? %>
      <% @music_suggestions.each do |music| %>
        <div class="card-product">
          <%= music.image_url%>
          <div class="card-product-infos">
            <h2><%= music.title %></h2>
            <p><%= music.artists.join(', ') %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No music suggestions available at the moment.</p>
    <% end %>
  </div>

  <div class="text-center mt-4">
    <%= button_to "Load more recipes", music_suggestions_path(genre: params[:genre]), method: :get %>
  </div>
  </div>
</div>
