.btn-back {
  display: flex;
  height: 3em;
  width: 130px;
  align-items: center;
  justify-content: center;
  background-color: lch(97.11% 3.52 79.51 / 0.683);
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #ffffffdf;

  svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
  }

  &:hover {
    box-shadow: 9px 9px 33px #ac9d8a, -9px -9px 33px #ffffff;
    transform: translateY(-2px);

    svg {
      font-size: 1.2em;
      transform: translateX(-5px);
    }
  }
}
