.button-home {
  background: white;
  padding: 0.6em 4.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid #000000;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.button {
  background: white;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.button:hover, .button-home:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.25em 0.25em;
  background-color: $flashy_yellow;
}

.button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
  background-color: $flashy_yellow;
}

.btn-back {
  background: $light_gray;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  text-decoration: none;
  color: black;
  position: fixed;
  bottom: 45px;
  left: 45px;
  z-index: 999;

  &:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.25em 0.25em;
    background-color: $flashy_yellow;
  }

  &:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
}

.alert {
  display: none;
  z-index: 1000;
  padding: 15px 40px 15px 15px;
  border-radius: 0.4em;
  color: rgb(184, 66, 66);
  border: 3px solid black;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.alert.show {
  display: block;
}

.alert .close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  font-weight: bold;
  background: none;
  border: none;
  font-size: 18px;
  line-height: 1;
}

.btn-save{
  background: rgb(255, 255, 255);
  // box-shadow: #000000 0.1em 0.1em;
  font-weight: 900;
  padding: 5px 10px 5px 10px;
  // border: 2px solid black;
  border-radius: 0.4em;
  cursor: pointer;
  text-decoration: none;
  color: black;
  bottom: 10px;
}

.btn-save:hover {
  background-color: $green;
  // box-shadow: 0.1em 0.1em black;
  color: white
}

.btn-unsave{
  background: $green;
  // box-shadow: #000000 0.1em 0.1em;
  font-weight: 900;
  padding: 5px 10px 5px 10px;
  // border: 2px solid black;
  border-radius: 0.4em;
  cursor: pointer;
  text-decoration: none;
  color: white;
  bottom: 10px;
}

.btn-unsave:hover {
  background-color: white;
  // box-shadow: 0.1em 0.1em black;
  color: black
}

.btn-share {
  background: $blue;
  // box-shadow: #000000 0.1em 0.1em;
  font-weight: 900;
  padding: 5px 10px 5px 10px;
  // border: 2px solid black;
  border-radius: 0.4em;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.btn-share:hover {
  background-color: white;
  // box-shadow: 0.1em 0.1em black;
  color: $blue
}

.btn-link {
  background: $blue;
  // box-shadow: #000000 0.1em 0.1em;
  font-weight: 900;
  padding: 5px 10px 5px 10px;
  // border: 2px solid black;
  border-radius: 0.4em;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.btn-link:hover {
  background: $blue;
  // box-shadow: #000000 0.1em 0.1em;
  font-weight: 900;
  padding: 5px 10px 5px 10px;
  // border: 2px solid black;
  border-radius: 0.4em;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
