// SCSS for Food Type Option Buttons

@keyframes wiggle {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(1deg); }
  50%  { transform: rotate(-1deg); }
  75%  { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}

.option-step-wrapper {
  .option-grid {
    gap: 32px;
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .option-card {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    background-color: $light_gray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    margin: 16px;
    transform-origin: center;
    will-change: transform;
    transition:
    transform 0.3s ease-in-out,
    clip-path 0.4s ease-in-out,
    background-color 0.4s ease-in-out,
    border-radius 0.4s ease-in-out;

    &:hover {
    transform: scale(1.10);
    border: none;
    animation: wiggle 1s ease-in-out infinite;
    }

  .option-icon {
    width: 100%;
    height: 100%;
    padding: 20%;
    object-fit: contain;
    transition: transform 0.4s ease;
    z-index: 1;
  }

    &:hover .option-icon {
      transform: scale(1.1);
    }

    .option-label {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      bottom: 20px;
      width: 100%;
      font-size: 15px;
      font-weight: 450;
      text-align: center;
      transition: opacity 0.2s ease;
      z-index: 2;
      transition: opacity 0.3s ease 0.05s;
    }

    &:hover .option-label {
      opacity: 1;
    }

    &:has(.hidden-radio:checked) .option-label {
      opacity: 1;
    }
  }

  // Vegan
  .option-card.vegan {
  border-radius: 50%;
  background-color: $info;
  transition: clip-path 0.5s ease, transform 0.3s ease;
}

.option-card.vegan:hover,
.option-card.vegan:has(.hidden-radio:checked) {
  aspect-ratio: 1.009;
  border-radius: 0;
  clip-path: shape(
    from 67.79% 25.02%,
    curve to 99.41% 61.34% with 80.78% 37.01%/96.34% 47.62%,
    curve to 80.01% 97.48% with 102.49% 75.05%/93.09% 91.87%,
    curve to 35.14% 96.27% with 67.02% 103.17%/50.35% 97.65%,
    curve to 1.72% 91.7% with 19.93% 94.8%/6.08% 97.39%,
    curve to 4.46% 60.3% with -2.64% 86.09%/2.41% 72.12%,
    curve to 9.93% 26.66% with 6.51% 48.4%/5.57% 38.65%,
    curve to 34.12% 0.01% with 14.29% 14.67%/23.94% 0.44%,
    curve to 67.79% 25.02% with 44.2% -0.42%/54.71% 13.03%,
    close
  );
  background: #98CC60;
  transform: scale(1.05);
  border: 0;
}


// Meat
.option-card.meat {
  border-radius: 50%;
  background-color: $info;
  transition: clip-path 0.5s ease, transform 0.3s ease;
}

.option-card.meat:hover,
.option-card.meat:has(.hidden-radio:checked) {
  aspect-ratio: 1.334;
  border-radius: 0;
  clip-path: shape(
    from 75.55% 11.29%,
    curve to 99.65% 46.74% with 85.89% 19.89%/97.55% 31.92%,
    curve to 83.94% 89.14% with 101.74% 61.56%/94.28% 79.19%,
    curve to 48.73% 99.3% with 73.61% 99.09%/60.39% 101.37%,
    curve to 17.1% 80.64% with 37.15% 97.12%/27.12% 90.59%,
    curve to 0.77% 48.81% with 7.07% 70.69%/-2.88% 57.31%,
    curve to 31.63% 27.87% with 4.35% 40.31%/21.68% 36.58%,
    curve to 50.29% 1.44% with 41.66% 19.27%/44.46% 5.59%,
    curve to 75.55% 11.29% with 56.19% -2.71%/65.21% 2.58%,
    close
  );
  background: #e9c228;
  transform: scale(1.05);
  border: 0;
}

 // Vegetarian
.option-card.vegetarian {
  border-radius: 50%;
  background-color: $info;
  transition: clip-path 0.5s ease, transform 0.3s ease;
}

.option-card.vegetarian:hover,
.option-card.vegetarian:has(.hidden-radio:checked) {
  aspect-ratio: 1.117;
  border-radius: 0;
  clip-path: shape(
    from 69.26% 15.16%,
    curve to 86.02% 34.51% with 75.08% 22%/79.84% 27.87%,
    curve to 100% 56.2% with 92.27% 41.21%/99.94% 48.67%,
    curve to 86.46% 78.59% with 100% 63.73%/92.33% 71.26%,
    curve to 70.68% 96.76% with 80.58% 85.91%/76.5% 93.09%,
    curve to 50.15% 99.52% with 64.87% 100.35%/57.26% 100.42%,
    curve to 29.19% 93.92% with 43.04% 98.62%/36.36% 96.69%,
    curve to 9.33% 81.07% with 22.07% 91.16%/14.4% 87.5%,
    curve to 0.67% 55.44% with 4.32% 74.65%/1.91% 65.46%,
    curve to 4.01% 27.32% with -0.5% 45.42%/-0.56% 34.58%,
    curve to 26.28% 11.22% with 8.65% 20.07%/17.87% 16.34%,
    curve to 49.35% 0.03% with 34.63% 6.04%/42.17% -0.52%,
    curve to 69.26% 15.16% with 56.58% 0.59%/63.45% 8.39%,
    close
  );
  background: #f09423;
  transform: scale(1.10);
  border: 0;
}

// Seafood
.option-card.seafood {
  border-radius: 50%;
  background-color: $info;
  transition: clip-path 0.5s ease, transform 0.3s ease;
}

.option-card.seafood:hover,
.option-card.seafood:has(.hidden-radio:checked) {
  aspect-ratio: 0.978;
  border-radius: 0;
  clip-path: shape(
    from 83.1% 5.09%,
    curve to 99.13% 31.73% with 91.76% 10.67%/97.21% 21.2%,
    curve to 95.28% 61.44% with 101.12% 42.32%/99.64% 52.86%,
    curve to 75.92% 83.88% with 90.99% 70.09%/83.87% 76.74%,
    curve to 49.64% 99.8% with 68.04% 90.97%/59.32% 98.49%,
    curve to 21.89% 88.9% with 39.96% 101.06%/29.32% 96.17%,
    curve to 5.99% 61.94% with 14.39% 81.63%/10.09% 72.1%,
    curve to 1.24% 33.05% with 1.89% 51.79%/-2.09% 41.07%,
    curve to 24.39% 14.37% with 4.51% 25.02%/14.96% 19.7%,
    curve to 52.4% 1.33% with 33.81% 9.04%/42.21% 3.71%,
    curve to 83.1% 5.09% with 62.53% -1.05%/74.45% -0.49%,
    close
  );
  background: #91b9e2;
  transform: scale(1.10);
  border: 0;
}

  // // Seafood
  // .option-card.seafood:hover {
  //   clip-path: shape(
  //     from 87.45% 45.02%,
  //     curve to 92.48% 56.45% with 90.99% 50.00%,
  //     curve to 92.05% 69.35% with 93.97% 62.91%,
  //     curve to 82.42% 77.15% with 90.14% 75.80%,
  //     curve to 71.01% 83.22% with 74.69% 78.49%,
  //     curve to 61.91% 91.53% with 67.33% 87.95%,
  //     curve to 49.74% 96.95% with 56.49% 95.12%,
  //     curve to 38.70% 91.46% with 42.99% 98.79%,
  //     curve to 25.99% 85.79% with 34.41% 84.13%,
  //     curve to 15.38% 80.54% with 17.56% 87.44%,
  //     curve to 14.30% 66.90% with 13.20% 73.65%,
  //     curve to 13.33% 55.08% with 15.41% 60.16%,
  //     curve to 11.20% 44.30% with 11.25% 50.00%,
  //     curve to 11.95% 32.32% with 11.14% 38.59%,
  //     curve to 16.84% 21.25% with 12.75% 26.06%,
  //     curve to 27.31% 15.38% with 20.92% 16.44%,
  //     curve to 38.83% 11.12% with 33.70% 14.32%,
  //     curve to 50.39% 5.23% with 43.95% 7.93%,
  //     curve to 62.85% 5.60% with 56.83% 2.53%,
  //     curve to 72.70% 14.03% with 68.88% 8.67%,
  //     curve to 79.11% 24.51% with 76.53% 19.39%,
  //     curve to 82.80% 34.84% with 81.69% 29.63%,
  //     curve to 87.45% 45.02% with 83.91% 40.04%
  //   );
  //   background: #91b9e2;
  //   transform: scale(1.10);
  // }

  // .option-card.seafood:has(.hidden-radio:checked) {
  //   clip-path: shape(
  //     from 87.45% 45.02%,
  //     curve to 92.48% 56.45% with 90.99% 50.00%,
  //     curve to 92.05% 69.35% with 93.97% 62.91%,
  //     curve to 82.42% 77.15% with 90.14% 75.80%,
  //     curve to 71.01% 83.22% with 74.69% 78.49%,
  //     curve to 61.91% 91.53% with 67.33% 87.95%,
  //     curve to 49.74% 96.95% with 56.49% 95.12%,
  //     curve to 38.70% 91.46% with 42.99% 98.79%,
  //     curve to 25.99% 85.79% with 34.41% 84.13%,
  //     curve to 15.38% 80.54% with 17.56% 87.44%,
  //     curve to 14.30% 66.90% with 13.20% 73.65%,
  //     curve to 13.33% 55.08% with 15.41% 60.16%,
  //     curve to 11.20% 44.30% with 11.25% 50.00%,
  //     curve to 11.95% 32.32% with 11.14% 38.59%,
  //     curve to 16.84% 21.25% with 12.75% 26.06%,
  //     curve to 27.31% 15.38% with 20.92% 16.44%,
  //     curve to 38.83% 11.12% with 33.70% 14.32%,
  //     curve to 50.39% 5.23% with 43.95% 7.93%,
  //     curve to 62.85% 5.60% with 56.83% 2.53%,
  //     curve to 72.70% 14.03% with 68.88% 8.67%,
  //     curve to 79.11% 24.51% with 76.53% 19.39%,
  //     curve to 82.80% 34.84% with 81.69% 29.63%,
  //     curve to 87.45% 45.02% with 83.91% 40.04%
  //   );
  //   background: #91b9e2;
  //   transform: scale(1.10);
  // }

  // Shuffle
  .option-card.shuffle {
    width: 175px;
    height: 175px;
  }
  .option-card.shuffle:hover,
  .option-card.shuffle:has(.hidden-radio:checked) {
    mask: radial-gradient(40px at 40px 40px, #0000 98%, #000) -40px -40px;
    background: #bb97d2;
    border-radius: 0;
    transform: scale(1.10);
  }

  // Hidden input
  .hidden-radio {
    display: none;
  }
}

// Layout structure
.option-layout-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  width: 100%;
}

.option-layout {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0px;

  .option-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    &.center {
      justify-content: center;
    }
  }
}
