h1 {font-weight: 400;}
h2 {font-weight: 400;}

.form-align-center {
  height: calc(50vh);
  display: flex;
  align-items: center;
}

.option-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}

.option-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  border: 2px solid #ccc;
  border-radius: 100%;
  gap: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
  background-color: $info;
  margin: 16px;
  transition-duration: 5ms;
}

.option-card:hover {
  border-color: $gray;
  border-width: 3px;
  background-color: $orange;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.option-label {
  font-size: 24px;
  font-weight: 400;
  color: $gray;
}

.sm {
  height: 40px;
  font-size: 18px !important;
  border-radius: 25px;
  align-content: center;
}

.hidden-radio {
  display: none;
}

.hidden-radio:checked + .option-label,
.option-card:has(.hidden-radio:checked) {
  background-color: $orange;
  color: white;
  border-color: $orange;
}
