.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  // position: fixed;
  // top:0;
  // width: 100vw;
  padding: 0 !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  margin-left: 19px;
  margin-top: 18px;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.navbar-lewagon .nav-link,
.navbar-lewagon .dropdown-item {
  font-weight: 500;
  color: $gray;
  transition: color 0.2s ease, text-shadow 0.2s ease;

  &:hover {
    background: $flashy_yellow;
  }
}

.dropdown-menu {
  margin-top: 8px !important;
  margin-right: 26px;
  border-radius: 8px;
}

.button-close {
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e") center / 1em auto no-repeat;
  box-sizing: content-box;
  float: right !important;
  margin: 5px 10px;
  width: 1em;
  height: 1em;
  padding: .25em;
  border: 0;
}

.hamburger {
  color: black;
  background: transparent;
  height: 45px;
  width: 45px;
  border: 3px solid black;
  border-radius: 50%;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease;
  margin-right: 30px;
  margin-top: 20px;

  svg {
    height: 22px;
    width: 22px;
    stroke: black;
    stroke-width: 4;
    transition: stroke 0.2s ease;
  }

  &:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.2em 0.25em;
    background-color: $flashy_yellow;

    svg {
      stroke: #000000;
      stroke-width: 4;
    }
  }

  &:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
    background: $flashy_yellow;
  }

}
