.recipe_image {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details {
  background-color: white;
  color: $gray;
  padding: 8px 16px;
  border-radius: 25px;
}

.detail-bubbles {
  align-items: flex-end;
  flex-wrap: wrap;
  align-self: flex-end;
  row-gap: 16px;
  width: 75%;
  column-gap: 16px;

  p {
    margin: 0;
  }
}

.show-instructions {
  border-radius: 25px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.559);
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
}

.instructions {
  margin-top: 20px;
}
