.recipe_image {
  max-height: 425px;
  border-radius: 10px;
  margin-bottom: .5rem;
}

.detail-bubbles {
  display: flex;
  flex-wrap: wrap;
  gap: 0 22px;
  font-size: 14px;

  .details {
    padding: 8px 16px;
    border-radius: 25px;
    color: #1e1e1e;
    background-color: #eee;
    flex-shrink: 0;

    // Random-looking, but ordered color variation:
    &:nth-child(1) {
      background-color: $orange;
      color: $gray;
    }
    &:nth-child(2) {
      background-color: $blue;
      color: $light_gray;
    }
    &:nth-child(3) {
      background-color: $green;
      color: $light_gray;
    }
    &:nth-child(4) {
      background-color: $red;
      color: $light_gray;
    }
    &:nth-child(5) {
      background-color: $flashy_yellow;
      color: $gray;
    }
  }
}


.show-instructions {
  border-radius: 25px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.559);
  justify-content: flex-start;
  width: 100%;
  padding: 20px 0;
}

.instructions {
  margin-top: 20px;
}
